.HeroSection{
    width: 100%;
    height: 100vh;
    top: 0;
    position: relative;
    overflow: hidden;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #f7f7f7;
    box-sizing: border-box;
    font-family: 'Rubik' , sans-serif;
}
.backgroundIMGShadow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index:-1;
}

.backgroundIMG{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    filter:blur(2px)
}

.btnWrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
.btnWrapper > button:nth-child(1){
    background-color: #36c3ff ;
    color:  #323643;
    transition: 0.25s;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
}
.btnWrapper > button:nth-child(1):hover{
    background-color:#93DEFF ;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.5);
}

.btnWrapper > button:nth-child(2){
    background-color: transparent ;
    border: 2px solid #36c3ff;
    color:  #36c3ff;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    transition: 0.25s;
}
.btnWrapper > button:nth-child(2):hover{
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.5);
    border: 2px dashed #93DEFF;
    color:#93DEFF ;
}
.HeroSection > h1 {
    font-size: clamp(1rem,4vw,3.5rem);
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;

}
.HeroSection > h1 > div > div > span {
    text-decoration: underline;
    color: #f7f7f7;
    opacity: 1;
}
.HeroSection > h1 > div {
    color:transparent;
    display:inline;
    position: relative;
    line-height: normal;
    
}

.HeroSection > h1 > div > div {
   position: absolute;
   left: 0;
   top: 0;
}




@media screen and (max-width: 767px) {
    .HeroSection{
        justify-content: center;
        align-items: center;
    }


    .HeroSection > h1 {
        font-size: clamp(1rem,7vw,2rem);
        margin-bottom: 1rem;
    }   

    .btnWrapper{
        width: 100%;
        justify-content: start;
    }
}



.HeroSection > a {
  padding-top: 60px;
  position: relative;
  color:rgba(247, 247, 247);
  opacity: 0.25;
  transition: 0.25s;
  text-decoration: underline;
  position: absolute;
  bottom: 2.5%;
  align-self:center;
  justify-self: flex-end;
}
.HeroSection > a:hover {
  color: #f7f7f7;
  opacity: 1;
}
.HeroSection > a > span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
.HeroSection > a > span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.HeroSection > a > span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

