.workCarousel{
    width: 100%;
    position: absolute;
    left: 0;
    top: 25vh;
    height:75%;
    background-color: rgba(0,0,0,0.5);
   overflow: hidden;
  
}


.workCarousel > button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    height: 100%;
    width: 10%;
    background-color: rgba(0,0,0,0.5);
    color: #F7F7F7;
    font-size: 2rem;
    box-sizing: border-box;
    z-index: 10;
    transition: 0.25s;
    opacity: 0.25;
  }
  .workCarousel > button:hover {
    opacity: 1;
  }
  .workCarousel > button::after {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    content: '';
    width: 16px;
    height: 16px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }

.backwardBtn{
    left: 0;
} 
.backwardBtn::after{
    transform: rotate(45deg) !important;
}
.forwardBtn{
    right: 0;
}
.forwardBtn::after{
    transform: rotate(-135deg) !important;
}









.workArticles{
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    width: max-content;
    height: 100%;
    color: white;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}



.workArticles > article {
    min-width: 33vw;
    border-right: 1px solid white;
    box-sizing: border-box;
    height: 100%;
    scroll-snap-align:initial;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 767px) {
    .workArticles{
        overflow: hidden;
        height: max-content;
    }
    .workArticles > article {
        width: 100%;
        color: white;
        box-sizing: border-box;
        height: 75vh;
        min-width: 100vw;
    }

}









