.menuContainer{
    background-color:  #323643;
    z-index: 9;
    box-sizing: border-box;
    position: absolute;
    width: 75vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translate(-100%);
    transition: transform 0.25s ease-in-out;
}
.menuContainerShadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0 , 0.5);
    z-index: -1;
    transition: 0.25s ease-in-out;
}
.menuContainerContent{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #323643;
    padding-top: 7.5vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 1;
}
.menuContainer.open {
    transform: translate(0);
}
.menuContainer.open .menuContainerShadow{
    width: 100vw;
}

.menuCompanyLogo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 7.5vh;
    right: 7.5%;
    top: 0;
}
.menuCompanyLogo > img {
    height:100%;
    width: 100%;
    object-fit:scale-down;
    filter: invert()  brightness(10000);
}